<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="log/common.xml"/>

  <!-- 개발용 -->
  <springProfile name="default,local,test">
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <!-- 서버용 -->
  <springProfile name="dev1,dev2,prod1,prod2">
    <include resource="log/application.xml"/>
    <include resource="log/api.xml"/>
    <include resource="log/push.xml"/>

    <root level="INFO">
      <appender-ref ref="FILE" />
    </root>
  </springProfile>
</configuration>
